<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>View Status</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="status" style="text-align: center; margin-top: 200px" th:object="${application}">
        <h1 class="application-header">Your Application Status:</h1>
           <input style="margin-top: 100px;" type="text" th:field="*{status}" readonly />
    </div>
</body>
</html>