<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Homepage</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

  <h1>Meet Base Camp Coding Academy!</h1>
    <p>Base Camp Coding Academy is a hands-on, challenging, and fun program, designed to train high school graduates to be software developers in 12 months.
        For a total of 40 hours per week, students’ curriculum includes Python, HTML, CSS, Django, Java, Javascript, and Spring. In a small classroom setting,
        you will work with real world technologies to learn the fundamentals of coding, app development and the life leadership skills you will need to be
        successful in your career and competitive in the job market.</p>
</body>
</html>